# Backend API base URL (no trailing slash)
VITE_API_URL=https://smart-logistics-and-fleet-utilization.onrender.com/api

# OpenRouteService API key (https://openrouteservice.org)
VITE_ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjA3OTQ0OGEzZGExMjRkYTI4YTFlZTQzZWU0OWJiMjdkIiwiaCI6Im11cm11cjY0In0=
